body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 900px;
  }

.header__photo {
    width: 150px;
    height: auto;
    border-radius: 50%;
    float: left;
    margin-left: 3vw;
}

.header__name {
    font-weight: 300;
    font-size: 3em;
    float: right;
    margin-right: 3vw;
}

.left-col {
    width: 30%;
    float: left;
}

.right-col {
    width: 70%;
    float: right;
}

.left-heading {
    color: #7986cb;
    font-size: 1.5em;
}

.heading {
    color: #7986cb;
    font-size: 2em;
}

.timeline__date {
    color: rgba(0,0,0,0.4)
}

.timeline__name {
    font-size: 1.4em;
}

.timeline__description {
    margin-bottom: 0.7em;
}

.link {
    color: #7986cb;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style: none;
}
li::before {
    content: '— ';
  }


@media screen and (max-width: 700px) {
    .left-col, .right-col {
        float: none;
        width: 100%;
    }

    .header__photo {
        width: 15vw;
        margin: 0;
    }

    .header__name {
        margin: 0;
    }
}

@media screen and (max-width: 900px) {
    .container {
        width: 100%;
    }
}
